body {
    font-family: 'Times New Roman', Times, serif;
    background-color: antiquewhite;
    justify-content: center;
    align-content: center;
}

form {
    justify-items: center;
    align-items: center;
    border: 1px black
}