<!DOCTYPE html>
<html>
    <header>
        <title>Register</title>
        <link rel="stylesheet" href="../static/style.css">
    </header>
    <body>
        <div class="title">
            <h1>Register</h1>
        </div>
        <form>
            <div class="input-block">
                <label for="username">Full Name</label>
                <input id="username" name="username" type="text" />
            </div>
            <div class="input-block">
                <label for="username">Email Address</label>
                <input id="username" name="username" type="text" />
            </div>
            <div class="input-block">
                <label for="username">Username</label>
                <input id="username" name="username" type="text" />
            </div>
            <div class="input-block">
                <label for="password">Password</label>
                <input id="password" name="password" type="password" />
            </div>
            <div>
                <button type="button">Login</button>
                <button type="button">Register</button>
            </div>
        </form>
    </body>
</html>